@font-face {
    font-family: SourceSerif4;
    src: url(Source_Serif_4/static/SourceSerif4-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: SourceSerif4;
}

header {
    background: #adc099;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    height: 70px;
}

.blog-logo {
    position: relative;
    cursor: pointer;
}

.blog-logo :hover {
    width: 55px;
    transition: all 0.5s;
}

.btn {
    border: none;
    background: none;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    color: black;
    cursor: pointer;
    margin: 0 8px;
    padding: 0 5px;

}

.btn :hover {
    color: black;
}

.btn::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: darkolivegreen;
    transition: all 0.5s;
}

.btn:hover::before {
    width: 100%;
}

.separation {
    background-color: black;
    height: 1px;
    position: relative;
}

.first {
    width: auto;
    height: auto;
}

.blog-img {
    display: flex;
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 75vh;
}

.second {
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    /* background-color: gold; */
    /* border: 2px solid red; */
}

.card {
    width: 45vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: absolute;
    background-color: whitesmoke;
    height: fit-content;
    margin-top: -150px;
    /* border-radius: 15px; */

}


.profile {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    align-content: stretch;
    justify-items: stretch;
    padding: 10px;
}

.profile-img {
    display: block;
    background-position: top;
    background-size: cover;
    background-image: url(profile.jpg);
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 15px 40px;
}

.profile-info {
    width: 20vw;
    /* background-color: gold; */
    padding: 0 10px;
    flex-grow: 1;
    line-height: 25px;
}

.second-container{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 10px;
}

.profile-link{
    /* background-color: wheat; */
    width: auto;
    display: flex;
    /* justify-content: space-between; */
    gap: 16px;
    padding: 0 10px;
}


.profile-button{
    display: flex;
    padding: 0 30px;
    /* background-color: #adc099; */
}

.profile-share{
    width: 130px;
    height: 50px;
    border-radius: 6px;
    background-color: #adc099;
    border: none;

}

.fa-brands{
    font-size: 34px;
}

.fa-square-github{
    color: #2b3137;
}

.fa-linkedin{
    color: #0077B5;
}

.fa-square-twitter{
    color: skyblue;
}

.fa-instagram{
    color: 	#C13584;
}

.name,
.username {
    display: block;
    cursor: pointer;
}

.name {
    font-weight: 700;
}

.username {
    color: rgb(155, 153, 153);
}

.username::before {
    content: "@";
}

.third {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.blog-title {
    font-size: 35px;
    padding: 20px 0;
    line-height: 50px;
}

.blog-body {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 40px;
    /* background-color: hotpink; */
}

.read-more-title {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 600;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}


.read-more {
    width: 325px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.read-more-title {
    text-align: center;
    padding-bottom: 25px;
}

.read-more-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.read-more-body span {
    font-size: 0.9rem;
}

.read-more-img {
    width: 100%;
    height: auto;
}

.read-more-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.read-more .read-more-heading {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.read-more .read-more-heading:hover {
    color: #adc099;
    transition: all ease 0.3s;
}

.read-more p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.read-more a {
    color: #0f0f0f;
    text-decoration: none;
}

.read-more a:hover {
    color: #adc099;
    transition: all ease 0.3s;
}

@media (max-width:1250px) {
    .read-more {
        width: 300px;
    }
}

@media (max-width:1100px) {
    .read-more {
        width: 70%;
    }
}

@media (max-width:550px) {
    .read-more {
        width: 100%;
        margin: 20px 10px;
    }

    .fourth {
        padding: 20px;
    }
}


@media only screen and (min-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .card {
        width: 50vw;
    }

    .profile-info {
        width: 30vw;
    }

    .third {
        padding: 20px 0px;
    }

    .blog-body {
        width: 50%;
    }

    .read-more {
        width: 300px;

    }

}

@media only screen and (max-width: 768px) {
    .navbar {
        max-width: 90vw;
    }

    .card {
        width: 90vw;
    }

    .profile-info {
        width: auto;
    }

    .third {
        padding: 0 20px;
    }

    .blog-body,
    .fourth {
        width: 90%;
    }
}



@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin: 8px 0;
    }

    .blog-logo {
        margin-bottom: 10px;
    }

    .first {
        height: 50vh;
    }

    .blog-img {
        height: 50vh;
    }

    .second {
        height: 15vh;
    }

    .third {
        padding: 25px 20px;
    }

    .blog-title{
        font-size: 28px;
    }

    .blog-body,
    .fourth {
        width: 90%;
    }
}


@media only screen and (max-width: 400px) {
    .navbar {
        max-width: 95vw;
    }

    .card {
        width: 95vw;
    }

    .blog-title {
        padding-top: 50px;
        font-size: 28px;
        line-height: 40px;
    }

    .blog-body {
        font-size: 16px;
        line-height: 25px;
    }

    .read-more-title {
        font-size: 28px;
    }

    .read-more {
        width: 90%;
    }
}