* {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
}

header {
    background: var(--color-primary);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    height: 70px;
    border-bottom: none !important;
}

.blog-logo {
    position: relative;
    cursor: pointer;
}

.blog-logo :hover {
    width: 55px;
    transition: all 0.5s;
}

.btn {
    border: none;
    background: none;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    color: black;
    cursor: pointer;
    margin: 0 8px;
    padding: 0 5px;

}

.btn :hover {
    color: black;
}

.btn::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: darkolivegreen;
    transition: all 0.5s;
}

.btn:hover::before {
    width: 100%;
}

.separation {
    background-color: black;
    height: 1px;
    position: relative;
}

.first {
    width: auto;
    height: auto;
}

.blog-img {
    display: flex;
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 75vh;
}

.second {
    height: 25vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 45vw;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    height: fit-content;
    background-color: white;
    position: absolute;
    margin-top: -210px;
}

.profile {
    width: 45vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-items: stretch;
    padding: 10px;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-info {
    padding: 0 10px;
    flex-grow: 1;
}

.name,
.username {
    display: block;
    cursor: pointer;
}

.name {
    font-weight: 700;
}

.username {
    color: rgb(155, 153, 153);
}

.username::before {
    content: "@";
}

.card-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 4px;
    padding-bottom: 16px;
}

.card-body {
    padding: 10px 20px;
    line-height: 20px;
}

.third {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.blog-body {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 40px;
}

.read-more-title {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 600;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}


.read-more {
    width: 325px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.read-more-title {
    text-align: center;
    padding-bottom: 25px;
}

.read-more-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.read-more-body span {
    font-size: 0.9rem;
}

.read-more-img {
    width: 100%;
    height: auto;
}

.read-more-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.read-more .read-more-heading {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.read-more .read-more-heading:hover {
    color: #adc099;
    transition: all ease 0.3s;
}

.read-more p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.read-more a {
    color: #0f0f0f;
    text-decoration: none;
}

.read-more a:hover {
    color: #adc099;
    transition: all ease 0.3s;
}