/* body {
    background-color: rgb(255, 255, 255);
    padding: 0%;
    display: card;

} */


body {
    overflow-x: hidden;
    /* margin-left: 5%;
    margin-right: 5%; */
    font-family: var(--font-secondary);
}

.first-part {
    margin-left: 5%;
    margin-right: 5%;
}

.profile-header {
    /* margin: 5%; */
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 4%;
    /* margin-left: 4%;
    margin-right: 4%; */
    display: flex;
    flex-direction: row;
}

.image-section {
    padding: 15px;
}

.image-section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-section {
    padding-left: 2.5%;
    padding-top: 15px;
    flex: 1;
}

.edit-bio {
    display: flex;
    padding-right: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 15
}

.name {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1%;
}

.userid {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0.5%;
}

.bio {
    font-size: 17px;
    border: none;
    resize: none;
    width: 100%;
    padding-right: 20px;
}

.all-posts {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5%;
    border-top: none;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    .about-section .name {
        font-size: 13px;
    }

    .about-section .userid {
        font-size: 11px;
    }

    .about-section .bio {
        font-size: 11px;
    }

    
    .image-section img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

/*
.container {
    display: flex;
    background-color: white;
    width: 95%;
    height: 480px;
    border-radius: 0%;
    border: solid 1px;
    padding: 15px;
    margin: 35px;
    margin-bottom: 0px;

}


.innerContainer {
    padding: 15px;
}


.card {
    display: flex;
}

.container img {
    width: 450px;
    height: 450px;
    border: solid 1px;
}

h1 {
    font-size: 60px;
}

h1,
p {
    font-family: var(--font-inter);
    gap: var(--flex-gap-md);
}


.bio {

    padding-top: 15px;

}

.button {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: black;
    padding: 0 var(--padding-lr-default);
    margin-top: 100px;
    font-family: var(--font-inter);
    gap: var(--flex-gap-md);
    font-size: var(--font-size-lg);
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 10px 20px;

}


.post_heading {
    display: flex;
    background-color: white;
    width: 95%;
    height: 60px;
    border-radius: 0%;
    border: solid 1px;
    padding: 15px;
    margin-left: 35px;
    margin-top: 0px;

}*/

.content_of_the_box {
    margin-left: 45%;
    margin-bottom: 3px;
    font-family: var(--font-inter);
    gap: var(--flex-gap-md);

}

.post_grid {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;

}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.read-more {

    width: 325px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;

}

.read-more-title {

    text-align: center;
    padding-bottom: 25px;

}

.read-more-body {

    padding: 30px;
    display: flex;
    flex-direction: column;

}

.read-more-body span {

    font-size: 0.9rem;

}

.read-more-img {

    width: 100%;
    height: auto;

}

.read-more-img img {

    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;

}

.read-more .read-more-heading {

    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;

}

.read-more .read-more-heading:hover {

    color: #adc099;
    transition: all ease 0.3s;

}

.read-more p {

    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.read-more a {

    color: #0f0f0f;
    text-decoration: none;

}

.read-more a:hover {

    color: #adc099;
    transition: all ease 0.3s;

}